<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h1>Weather Forecast 🌤️</h1>

  <form method="POST">
    <input type="text" name="city" placeholder="Enter city..." value="{{ city }}" />
    <button type="submit">Search</button>
  </form>

  {% if weather %}
    {% if weather.error %}
      <p class="error">{{ weather.error }}</p>
    {% else %}
      <div class="weather-box">
        <h2>{{ weather.city }}</h2>
        <div class="weather-main">{{ weather.temperature }} °C</div>
        <div class="condition">{{ weather.description }}</div>

        <div class="details">
          <div class="detail">💧 Humidity:<br />{{ weather.humidity }}%</div>
          <div class="detail">💨 Wind:<br />{{ weather.wind }} km/h</div>
        </div>

      </div>
    {% endif %}
  {% endif %}
</div>

</body>
</html>
